*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    overflow: hidden;
  }
  
  body{
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   height: 100vh;
   width: 100%;
   background: #181d24;
   overflow: hidden;
   
   
  }
  h1{
      padding: 1rem;
    letter-spacing: 5rem;
    font-size: 60px;
    color: #968314;
  }
  
  .calculator {
    background-color: #101820;
    width: 20rem;
    padding: 2rem;
    margin-left: 33%;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.8);
    height: 32rem;
  }
  
  .display input{
    outline: none;
    height: 5rem;
    margin-bottom:2rem ;
    box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.1);
   border-radius: 0.5rem;
   border-style: none;
   width: 100%;
   background: #e9f0f4;
   font-size: 2rem;
   padding-left: 7px;
   font-family: 'Playpen Sans', cursive;
  
  }
  
  .keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    height: 21.8rem;
    
  }
  
  .button{
    background: #181d24;
    height: 3.5rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #faebd7;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0px 9px 15px -3px rgba(0,0,0,0.8);

  }
  
  .button:hover{
    border: 0.5px dashed ;
    font-size: 1.9rem;
  }
  
  .equals{
    color: #4bd086;
    grid-column: 3/5;
  }
  
  .operators,.C{
    color: #ffd700;
    
    
  }

  @media(max-width:600px)
{
    h1{
      letter-spacing: 1.3rem;
      font-size: 40px;
      color: #968314;
    }

    .calculator {
        margin-left: 9%;
      }
      
}  
  @media(max-width:1000px)
{
    h1{
      letter-spacing: 1.7rem;
      font-size: 70px;
      color: #968314;
    }

    .calculator {
        margin-left: 13%;
        width: 24rem;
        height: 33rem;

      }
      
}  
  @media(max-width:450px)
{
    h1{
      letter-spacing: 1rem;
      font-size: 50px;
      color: #968314;
    }

    .calculator {
        margin-left: 5%;
        width: 22rem;
        height: 33rem;

      }
      
}  